GistXclient/Connected Services/GistXServices/GistXservices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GistXservices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GistXservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseContract" nillable="true" type="tns:ResponseContract" />
</xs:schema>